<ng-container *ngIf="pss.chosenCategory || pss.chosenType">
  <ng-container *ngFor="let generation of listOfAllPokemon">
    <ng-container *ngIf="generation.generationId === pss.chosenCategory">
      <div class="dialog-header">
        <h2 mat-dialog-title>Generation {{ generation.generationId }}</h2>
        <p mat-dialog-title>Favorite {{ pss.chosenType }} type</p>
      </div>
      <div mat-dialog-content>
        <div class="generationbox">
          <div *ngIf="showGeneration(generation.generationId)">
            <ng-container *ngFor="let pokemon of generation.pokemonList">
              <div class="pokemonbox" *ngIf="isPokemonCorrectType(pokemon)">
                <div
                  class="pokemonimage"
                  (click)="
                    savePokemonAsFavorite(
                      pss.chosenCategory,
                      pss.chosenType,
                      pokemon
                    )
                  "
                  [ngClass]="{ jumping: isSelected(pokemon) }"
                >
                  <span class="helper"></span>
                  <img
                    *ngIf="pokemon.pokemonSprite"
                    [src]="pokemon.pokemonSprite"
                  />
                  <img
                    *ngIf="!pokemon.pokemonSprite"
                    src="assets/sprites/ghost.png"
                  />
                </div>
                <div class="pokemoninfo" *ngIf="isSelected(pokemon)">
                  <button mat-raised-button color="primary">
                    Choose {{ pokemon?.pokemonName | titlecase }}
                  </button>
                </div>
                <div
                  class="pokemoninfo clickable"
                  (click)="selectPokemon(pokemon)"
                  *ngIf="!isSelected(pokemon)"
                >
                  <p class="mat-body pokemonid">#{{ pokemon?.pokemonId }}</p>
                  <p class="mat-body">{{ pokemon?.pokemonName | titlecase }}</p>
                  <p class="mat-body pokemonid">
                    <ng-container
                      *ngFor="let type of pokemon.types; let ndx = index"
                    >
                      <span *ngIf="ndx > 0"> / </span>
                      {{ type.type.name | titlecase }}
                    </ng-container>
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
