<!-- Caching of sprites -->
<!-- TODO: Have to cache on /quiz too -->
<ng-container *ngFor="let generation of listOfAllPokemon">
  <ng-container *ngFor="let pokemon of generation.pokemonList">
    <img *ngIf="pokemon.pokemonSprite" [src]="pokemon.pokemonSprite" style="display: none;">
  </ng-container>
</ng-container>

<div class="contentcontainer">
  <div class="infocontainer">
    <h1 class="mat-h1">Find your favorites quickly</h1>
    <p class="mat-body">
      Was inspired by this to create a quick way for all the autists to display their favorites.
    </p>
    <p class="mat-body">
      Takes around 15 minutes to get through.
    </p>
  </div>
  <div class="centeredanimated">
    <img src="assets/gen2sprites/Spr_2s_001.png">
    <img src="assets/gen2sprites/Spr_2s_004.png">
    <img src="assets/gen2sprites/Spr_2s_007.png">
    <img src="assets/gen2sprites/Spr_2s_025.png">
  </div>
  <div class="infocontainer">
    <p class="mat-body">
      You will find your favorites for each type of each game, and a total favorite for each type, each game and of
      course a total favorite.
    </p>
    <p class="mat-body">
      You can also find out what your favorite is for something specific in the games, like your favorite eeveelution.
    </p>
  </div>
  <div class="centeredanimated">
    <img src="assets/gen2sprites/Spr_2s_134.png">
    <img src="assets/gen2sprites/Spr_2s_135.png">
    <img src="assets/gen2sprites/Spr_2s_136.png">
    <img src="assets/gen2sprites/Spr_2s_133.png">
  </div>
  <div class="mainbutton">
    <button mat-raised-button color="primary" (click)="start()">
      Find your favorites
    </button>
  </div>
</div>