<div class="tablecontainer">
  <table>
    <tr>
      <th class="nothing-td"></th>
      <th *ngFor="let type of allPokemonTypes" class="type-td">
        {{ type }}
      </th>
    </tr>
    <tr *ngFor="let generation of generations">
      <td class="generation-td">Gen {{ generation.number }}</td>
      <td
        *ngFor="let type of allPokemonTypes"
        (click)="selectTableBox(generation.number, type)"
        class="selectable favorite-td"
        [ngClass]="{
          'selected-td': isTableBoxSelected(generation.number, type)
        }"
      >
        <ng-container
          *ngIf="getFavoriteForCategoryAndType(generation.number, type)"
        >
          <img
            [src]="
              getFavoriteForCategoryAndType(generation.number, type)
                ?.pokemonSprite
            "
          />
        </ng-container>
      </td>
    </tr>
    <tr>
      <td>Favorite</td>
      <td
        *ngFor="let type of allPokemonTypes"
        (click)="selectTableBox(0, type)"
        class="selectable favorite-td"
        [ngClass]="{ 'selected-td': isTableBoxSelected(0, type) }"
      ></td>
    </tr>
  </table>
</div>
