<!-- <div class="tablecontainer">
  <table>
    <tr>
      <th class="nothing-td"></th>
      <th *ngFor="let generation of generations" class="generation-td">
        Gen {{ generation.number }}
      </th>
      <th>Favorite</th>
    </tr>
    <tr *ngFor="let type of allPokemonTypes">
      <td class="generation-td">{{ type.name }}</td>
      <td *ngFor="let generation of generations" (click)="selectTableBox(generation.number, type.name)"
        class="selectable favorite-td" [ngClass]="{ 'selected-td': isTableBoxSelected(generation.number, type.name) }">
        <ng-container *ngIf="getFavoriteForCategoryAndType(generation.number, type.name)">
          <img [src]="getFavoriteForCategoryAndType(generation.number, type.name)?.pokemonSprite">
        </ng-container>
      </td>
      <td (click)="selectTableBox(0, type.name)" class="selectable favorite-td"
        [ngClass]="{ 'selected-td': isTableBoxSelected(0, type.name) }"></td>
    </tr>
  </table>
</div> -->

<div class="tablecontainer">
      <table>
        <tr>
          <th class="nothing-td"></th>
          <th *ngFor="let type of allPokemonTypes" class="type-td">
            {{ type.name }}
          </th>
        </tr>
        <tr *ngFor="let generation of generations">
          <td class="generation-td">Gen {{ generation.number }}</td>
          <td *ngFor="let type of allPokemonTypes" (click)="selectTableBox(generation.number, type.name)"
            class="selectable favorite-td"
            [ngClass]="{ 'selected-td': isTableBoxSelected(generation.number, type.name) }">
            <ng-container *ngIf="getFavoriteForCategoryAndType(generation.number, type.name)">
              <img [src]="getFavoriteForCategoryAndType(generation.number, type.name)?.pokemonSprite">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>Favorite</td>
          <td *ngFor="let type of allPokemonTypes" (click)="selectTableBox(0, type.name)" class="selectable favorite-td"
            [ngClass]="{ 'selected-td': isTableBoxSelected(0, type.name) }"></td>
        </tr>
      </table>
    </div>